{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--TRAINERS-->
<div style="display: flex; justify-content: center; align-items: center; height: 20px;">
  <a href="{% url 'trainer-add' %}" class="btn" style="background-color: #ff0000; color: #fff; padding: 10px 15px; text-decoration: none; border-radius: 5px;">Add New Trainer</a>
</div>

<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Trainer Name</th>
          <th>Birthdate</th>
          <th>Location</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        {% for object in object_list %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.birthdate }}</td>
          <td>{{ object.location }}</td>
          <td>{{ object.email}} </td>
            <td>
              <a href="trainer_list/{{ object.id }}" >Edit</a> |
              <a href="trainer_list/{{ object.id }}/delete" >Delete</a>
              </td>
          </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
  </section>
  <section>
    <div>
    {% include 'includes/pagination.html' %}
    </div>
  </section>
{% endblock %}